DEBUG=True
SECRET_KEY=change-me-for-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=

DATABASE_URL=postgres://finance_assistant:finance_assistant@db:5432/finance_assistant
DB_NAME=finance_assistant
DB_USER=finance_assistant
DB_PASSWORD=finance_assistant
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/0

TELEGRAM_BOT_TOKEN=
ALLOWED_TELEGRAM_USER_IDS=123456789

DJANGO_SUPERUSER_USERNAME=rexileer
DJANGO_SUPERUSER_PASSWORD=0528
DJANGO_SUPERUSER_EMAIL=admin@example.com

TIME_ZONE=Europe/Moscow
LANGUAGE_CODE=en
